{% extends 'base.html' %}

{% block hero %}{% endblock hero %}
{% block navbar %}{% endblock navbar %}
{% block content %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
  
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          {% if form.errors %}
            <p>Login ou mot de passe incorrect. Veuillez réessayer.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Votre compte n'a pas accès à cette page. Pour procéder, veuillez 
                vous connecter avec un compte ayant accès.</p>
                {% else %}
                <p>Connectez-vous sur cette page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'user:login' %}" role="form" class="php-email-form" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="name">{{ form.username.label_tag }}</label>
                {{ form.username }}
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password  }}</td>
            </tr>
            </table>

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
            {% comment %} <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form> {% endcomment %}
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock content %}

{% block footer %}{% endblock footer %}