{% extends 'base.html' %}

{% block navbar %}{% endblock navbar %}

{% block hero %}{% endblock hero %}

{% block content %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Charger un fichier</h2>
          <p>Un endroit pour tous vos fichiers. <br> Tous les types de fichier sont pris en charge sur votre espace privé.</p>
        </div>

        <div class="row  d-flex justify-content-center"> 
          <div class="col-md-5">
              <form method="post" action="{% url 'cloud:upload' %}" role="form" class="email-form" >
                {% csrf_token %}
                {{ form }}
                {% include 'layouts/form.html' with form=form %}

                <button type="submit" class="btn btn-primary btn-sm btn-block mt-2">Charger</button> 
                <input type="hidden" name="next" value="{{ next }}">
                {% comment %}                 
                <div class="d-flex justify-content-between mt-5"> 
                  <p class="mt-3"><a  href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
                  <p class="mt-3"><a  href="{% url 'password_reset' %}">Créer un compte ?</a></p> 
                </div>
                {% endcomment %}
              </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock content %}

{% block footer %}{% endblock footer %}